<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Facebook - log in or sign up</title>
</head>
<body>
    <div class="container">
        <div class="description">
            <img src="/images/logo.svg" alt="">
            <h2>Connect with friends and the world around you on Facebook.</h2>
        </div>
        <div class="login-wrapper">
            <div class="login-box">
                <form method="POST" action="/login">
                    <input type="text" placeholder="Email or phone number" name="email">
                    <input type="password" placeholder="Password" name="password">
                    <div class="login-options">
                        <button type="submit" class="login-button">Log In</button>
                        <a href="/" class="recovery">Forgot password?</a>
                        <div class="line"></div>
                        <a href="/" class="sign-up">Create new account</a>
                    </div>
                </form>
            </div>
            <p><strong>Create a page</strong> for a celebrity, brand or business.</p>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="languages">
                <a href="/">English (US)</a>
                <a href="/">Latviešu</a>
                <a href="/">Русский</a>
                <a href="/">Deutsch</a>
                <a href="/">Français (France)</a>
                <a href="/">Italiano</a>
                <a href="/">Lietuvių</a>
                <a href="/">Svenska</a>
                <a href="/">Polski</a>
                <a href="/">Español</a>
                <a href="/">Português (Brasil)</a>
            </div>
        </div>
    </div>
</body>
</html>